@model System.Diagnostics.Process

@{
    ViewBag.Title = "Process Details";
}

<h2>@ViewBag.Title</h2>

<p>ID: @Model.Id</p>
<p>Name: @Model.ProcessName</p>
<p>Handles: @Model.HandleCount</p>

@Html.Partial("_MadeInCanada")